{% extends "default.html" %}
{% load static %}

{% block title %}
Profile
{% endblock title %}

{% block content %}
    <div align="left"><br>
        <div >
            <h2> Страница профиля <strong>{{ user.username }}</strong></h2><br>
            {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" width="200"><br>
            {% else %}
                <p>У пользователя нет фото</p>
            {% endif %}
        </div><hr>
    
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <br>
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Изменить</button>
        </form>
</div>

{% endblock content %}
